In [ ]:
2.6 Методы для работы со списками

Что можно сделать со списком?
Особенностью любого объектно-ориентированного языка программирования является то, 
что при работе с разными типами объектов можно использовать только определенные методы. 
Например, из предыдущего модуля вы помните, что операцию сложения можно применять как к числовым, так и к строковым типам, 
а вот умножать можно только число на число или целое число на строку. 
______________________
Важно!
В Python при работе с каждым типом объектов допустимо использовать только определённые методы. 
Попытка использовать метод, не предназначенный для работы с объектами данного типа, 
вызывает прерывание работы программы с сообщением об ошибке TypeError.
______________________

В данном разделе мы рассмотрим наиболее часто используемые методы и функции, 
которые можно корректно применять при работе со списками.

In [ ]:
Метод Append
Используя метод append, мы можем добавить новое значение к уже существующему списку. Для этого нужно:

указать имя списка;
поставить точку;
после точки написать зарезервированное слово append;
в скобках указать значение, которое следует добавить к списку.

In [1]:
my_list = [1, 2, 3, 4, 5]
my_list.append(100500)
print(my_list)

[1, 2, 3, 4, 5, 100500]

In [ ]:
Создание нового списка с помощью метода append
Метод append можно использовать для создания списка с нуля.

Давайте представим такую ситуацию. Команда стартапа состоит из пяти человек. 
Зарплаты членов команды внесены в список old_salary:
old_salary = [35000, 50000, 65000, 49000, 55000]

После выступления руководителя команды на международной конференции стартап покупает один из лидеров рынка, 
после чего зарплата каждого члена команды увеличивается на 90%.

Давайте попробуем написать код, который создаёт список new_salary, содержащий новые зарплаты:

old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for salary in old_salary: #Организуем перебор элементов списка old_salary
                          #на каждом шаге цикла переменная salary будет принимать значение,
                          #соответствующее очередному размеру заработной платы
    new_salary.append(salary * 1.9) #Добавляем в список new_salary [ОЕ: В КОНЕЦ СПИСКА] новый элемент,
                                    #равный старой зарплате, увеличенной на 90%
print(new_salary)

Вот как выглядят результаты работы этого кода:
[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [3]:
# То же самое с i вместо salary:

old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for i in old_salary:
    new_salary.append(i * 1.9)
print(new_salary)

[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [ ]:
Сортировка элементов списка
Элементы списка можно упорядочить по возрастанию или убыванию, а в случае, если в списке хранятся строковые данные, 
их можно расставить в прямом или обратном алфавитном порядке. 

Для проведения сортировки используется метод sort:

my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort()
print(my_list)

Вот что получается в результате работы этого кода:
[10, 29, 31, 65, 87, 90, 100]

Порядок сортировки (по возрастанию или по убыванию) задаётся с помощью параметра reverse. 
Сравните результат работы двух скриптов:

my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = False)
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = True)
print(my_list)

[100, 90, 87, 65, 31, 29, 10]

Итак, при установке параметра reverse = False происходит сортировка списка по возрастанию, 
а при reverse = True список сортируется по убыванию.

In [4]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort()
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [5]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = False)
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [6]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = True)
print(my_list)

[100, 90, 87, 65, 31, 29, 10]

In [ ]:
Те же принципы работают и со списками, содержащими строковые данные:

my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = False)
print(my_list)

['апельсин', 'банан', 'вишня', 'груша', 'дыня']

my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = True)
print(my_list)

['дыня', 'груша', 'вишня', 'банан', 'апельсин']

In [7]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = False)
print(my_list)

['апельсин', 'банан', 'вишня', 'груша', 'дыня']

In [8]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = True)
print(my_list)

['дыня', 'груша', 'вишня', 'банан', 'апельсин']

In [ ]:
Определение минимального значения
Для определения минимального значения среди элементов списка мы можем воспользоваться функцией min. 

Синтаксис функции очень простой:
сначала следует написать зарезервированное слово min;
далее в круглых скобках пишем имя переменной, в которой хранится список.

salary = [100000, 45000, 78000, 29000, 55000, 60000]
lowest_salary = min(salary)
print(lowest_salary) 

29000

Определение максимального значения
Синтаксис для определения максимального значения элементов, хранящихся в списке, 
очень похож на тот, что использовался при определении минимума. 
Единственное отличие заключается в имени функции: вместо min следует использовать max:

salary = [100000, 45000, 78000, 29000, 55000, 60000]
highest_salary = max(salary)
print(highest_salary) 

100000

In [ ]:
Подсчёт количества элементов
Довольно распространённой задачей для аналитика является подсчёт частоты встречаемости 
того или иного элемента в наборе данных. 
В будущем, с освоением более сложных структур, вы научитесь делать это разными методами. 
Но начнем мы решение этой важной задачи с подсчета количества элементов списка, имеющих определённое значение.

Для определения этого количества в Python используется метод count. 
Синтаксис данного метода состоит из следующих элементов:

имя переменной, в которой хранится список;
точка;
зарезервированное слово count;
в круглых скобках — значение, частоту вхождения которого в список нужно посчитать.

my_friends = ['Дмитрий', 'Евгений', 'Елена', 'Михаил', 'Елена', 'Татьяна', 'Антон', 'Елена']
popular_name = my_friends.count('Елена')
print(popular_name)

In [16]:
my_friends = ['Дмитрий', 'Евгений', 'Елена', 'Михаил', 'Елена', 'Татьяна', 'Антон', 'Елена']
popular_name = my_friends.count('Елена')
print(popular_name)

3

In [17]:
my_friends = ['Дмитрий', 'Евгений', 'Елена', 'Михаил', 'Елена', 'Татьяна', 'Антон', 'Елена']
popular_name = my_friends.count()
print(popular_name)

TypeError: count() takes exactly one argument (0 given)

In [10]:
salary = [100000, 45000, 78000, 29000, 55000, 60000]
lowest_salary = min(salary)
print(lowest_salary)

29000

In [12]:
salary = [100000, 45000, 78000, 29000, 55000, 60000]
highest_salary = max(salary)
print(highest_salary)

100000

In [15]:
#Задание 1

my_list = []
for number in range(1,11):
    my_list.append(number**2)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
#Задание 2

names = ['Андрей', 'Илья', 'Александр', 'Ипполит', 'Анна', 'Константин', 'Елена', 'Мария']
my_list = []
for name in names:
    my_list.append(len(name))
name_length = min(my_list)
result = my_list.count(name_length)
print(result)

2

In [24]:
names = ['Андрей', 'Илья', 'Александр', 'Ипполит', 'Анна', 'Константин', 'Елена', 'Мария']
my_list = []
for name in names:
    my_list.append(len(name))
my_list

[6, 4, 9, 7, 4, 10, 5, 5]

In [20]:
names = ['Андрей', 'Илья', 'Александр', 'Ипполит', 'Анна', 'Константин', 'Елена', 'Мария']
my_list = []
for name in names:
    my_list.append(len(name))
name_length = min(my_list)
name_length

4

In [25]:
#Задание 3

my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list[2])

97

In [26]:
#Задание 4

my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(result)

399

In [28]:
#Задание 5

my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [27]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
new_list

[398, 97, 54, 31, 10]

In [31]:
#Задание 6

my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)
my_list

[1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1]

In [35]:
#Задание 7

fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
print(my_list)
print(my_list.count(my_list[0])) #сколько раз в списке встречается значение его первого элемента
                                 #В методе count() аргументом может быть сам элемент массива (точнее, его значение)

['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']
3

In [32]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
print(fruits)
print(fruits[0])

['яблоко', 'банан', 'апельсин', 'баклажан', 'перец', 'помидор', 'арбуз', 'ананас']
яблоко

In [34]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    print(fruit[0]) #т.е. каждую строку мы тоже можем рассматривать как список!!!
    my_list.append(fruit[0])

я
б
а
б
п
п
а
а

In [46]:
#Задание 8

#Напишите программу, которая создаёт список, содержащий целые, кратные трём числа в интервале от 1 до 50. 
#Найдите сумму элементов этого списка. Результат вычислений сохраните в переменной с именем result.

# Не окончено.

# КРЕТИНЫ. В окне для ввода ответа:
# Введите свое решение здесь
#         
#result =


my_list = []
number=1
i=1
while number<=50:
    number=i*3
    my_list.append(number)
    i+=1
print(my_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51]

In [50]:
my_list = []
result=0
for i in range(1,51):
    if i%3==0:
        my_list.append(i)
        result+=i
#print(my_list)
result

408

In [54]:
#Задание 9

#Напишите программу, которая создаёт список my_list, содержащий длины слов из списка raw_list (дан в начале кода), 
#и находит сумму минимального и максимального элементов нового списка (my_list). 
#Результат вычислений (сумма минимального и максимального элементов списка my_list) присвойте переменной result.

raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
my_list = []
for word in raw_list:
    my_list.append(len(word))
print(my_list)
result=min(my_list)+max(my_list)

[10, 5, 7, 6, 7, 5, 7]

15

In [55]:
#Задание 10*

#Дан список raw_list (содержимое списка приведено в начале кода). 
#Найдите минимальное (x_min) и максимальное (x_max) значения элементов данного списка.
#Создайте новый список my_list, состоящий из элементов списка raw_list, умноженных на x_min, 
#если элемент является чётным числом, и на x_max, в случае если элемент нечётный.
#Найдите максимальное значение списка my_list. Результат присвойте переменной result.

raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
rawmin=min(raw_list)
rawmax=max(raw_list)
print(rawmin,rawmax)

2 71